.modalCallbackBody {
    position: relative;
    background-color: #282FD2;
    padding: 35px;
    border-radius: 10px;
    animation: fade .4s running;
    
}


.callbackFormContent {
    width: 362px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.callbackFormContent h4 {
    font-family: Noah-700;
    font-size: 30px;
    margin: 10px auto;
}

.callbackFormContent p {
    font-family: Noah-400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}



.callbackModalBtn {
    font-family: Noah-700;
    cursor: pointer;
    border: 1px solid #FFA73D;
    color: white;
    width: 100%;
    height: 75px;
    background-color: #FFA73D;
    
    border-radius: 5px;
    margin-top: 10px;
    transition: all .4s ease-in-out;
}

.callbackModalBtn:hover {
    background-color: #282FD2;
    color: #FFA73D;
}

.policyTitle {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}

.policyTitle a {
    text-decoration: none;
    color: #FFA73D;
}

.policyTitle a:hover {
    text-decoration: underline;
}
.successAlert {
    width: 414px;
    text-align: left;
    font-family: Noah-700;
    font-size: 30px;
    color: white;
    margin: 0;
    margin-right: 35px;
}
@keyframes fade {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@media (max-device-width: 550px) { 
    .modalWrapper {
        padding: 0 16px;
    }
    .modalCallbackBody {
        padding: 22px;
    }
    .callbackFormContent {
        width: 100%;
    }
    .callbackFormContent h4 {
        letter-spacing: 1px;
        font-size: 20px;
        line-height: 24px;
    }
    .callbackFormContent p {
        line-height: 24px;
        font-size: 16px;
        letter-spacing: .8px;
    }
    .callbackModalBtn {
        height: 56px;
    }
}