.modalCallbackBody {
    position: relative;
    background-color: #282FD2;
    padding: 35px;
    border-radius: 10px;
    animation: fade .4s running;
    
}


.callbackFormContent {
    width: 362px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.callbackFormContent h4 {
    font-family: Noah-700;
    font-size: 30px;
    margin: 10px auto;
}

.callbackFormContent p {
    font-family: Noah-400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}



.callbackModalBtn {
    font-family: Noah-700;
    cursor: pointer;
    border: 1px solid #FBB83E;
    color: white;
    width: 100%;
    height: 75px;
    background-color: #FBB83E;
    
    border-radius: 5px;
    margin-top: 10px;
    transition: all .4s ease-in-out;
}

.callbackModalBtn:hover {
    background-color: #282FD2;
    color: #FBB83E;
}

.policyTitle {
    margin-top: 10px;
    font-size: 14px;
}

.policyTitle a {
    text-decoration: none;
    color: #FBB83E;
}

.policyTitle a:hover {
    text-decoration: underline;
}
.successAlert {
    width: 414px;
    text-align: left;
    font-family: Noah-700;
    font-size: 30px;
    color: white;
    margin: 0;
    margin-right: 35px;
}
@keyframes fade {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}