.mobileHeader {
    padding: 8px 16px;
    position: absolute;
    justify-content: space-between;
    display: flex;
    left: 0;
    bottom: 0;
    height: 56px;
    width: 100vw;
    background-color: #FFFFFF;
}
.headerMobileNavItem {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.mobileNavLink {
    margin-bottom: 0;
    margin-top: -5px;
    
    
    font-size: 14px;
    color: #2C2C2C;
    text-decoration: none!important;
    position: relative;
    transition: all .2s ease-in-out;
}

.mobileNavLink:hover {
    
    color: #282FD2;
}

.mobileNavLink::before {
    z-index: -1 ;
    align-items: center;
    border-radius: 50% 50% 0 0 ;
    content: "";
    display: block;
    position: absolute;
    top: -32px;
    left: 27px;
    width: 10px;
    height: 10px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .4s ease-in;
}



.mobileNavLink::after {
    z-index: -1;
    border-radius: 50% 50% 0 0 ;
    content: "";
    display: block;
    position: absolute;
    top: -35px;
    left: 8px;
    width: 20px;
    height: 20px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .2s ease-in;
}

.plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #282FD2;
    border: 4px solid #eef1fc;
}