.teamContent {
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamContent h3 {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: Noah-700;
    color: #181A43;
}
.teamList {
   
    display: flex;
}

.teamItem {
    position: relative;
    overflow: hidden;
    margin: 0 20px ;
    border-radius: 10px;
    border: 1px solid white;
    
}
.teamItemImg {
    display: flex;
    justify-content: center;
    position: relative;
    height: 588px;
    overflow: hidden;
    width: 222px;
    filter: blur(7px);
    transition: all .4s ease-in-out;
}
.teamItemImg:hover {
    width: 363px;
    filter: blur(0);
}
.teamItemTitle {
    position: absolute;
    top: 40px;
    left: 40px;
}
.teamItemImg img {
    
    position: absolute;
    bottom: 0;
}
.teamItemTitle h3 {
 color: #181A43;
 font-size: 18px;
 font-family: Noah-700;
 margin-top: 0;
 margin-bottom: 5px;
}

.teamItemTitle p {
    font-size: 18px;
    margin: 0;
}

@media (max-device-width: 1367px) {
    .contentTitle {
        display: none;
    }
    .teamItemImg {
        height: 460px;
    }
    .teamItemImg img {
        width: 252px;
        height: 275px;
    }
}