.introContent {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 100px 0;
}


.introText {
    display:flex;
    flex-direction: column;
    margin: 0;
    width: 634px;
}



.introTitle {
    margin: 20px 0;
    font-size: 50px;
    font-family: Noah-700;
    color: black ;
}
.introTitle span {
    border-radius: 5px;
    background-image: url(../../../public/images/captureBorder.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.introParag {
    margin: 0;
}

.callbackBtn {
    margin-top: 70px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    width: 198px;
    height: 60px;
    background-color: #282FD2;
    border: 1px solid #282FD2;
    transition: all .2s ease-in-out;  
    border-radius: 3px;  
}
.callbackBtn:hover {
    color: #282FD2;
    background-color: #EEF1FC ;
}
.introImage {
    position: relative;

    width: 494px;
    height: 693px;
}
.introImages {
    
    background-position: center;
    width: 494px;
    height: 693px;
    position: relative;
}
.telImage {
    position: absolute;
    left: 160px;
    animation: livitation 5s infinite ;
    animation-delay: 3s;
}
.noteImage {
    position: absolute;
    left: 0;
    bottom: 170px;
    animation: livitation 5s infinite;
}
.pcImage {
    position: absolute;
    bottom: 0;
    right: 10px;
    animation: livitation 5s infinite ;
    animation-delay: 1.5s;
} 

@keyframes livitation {
    0% {
        transform: translateY(0);
    }
    25%{
        transform: translateY(-9px);
    }
    50%{
        transform: translateY(0);
    }
    75% {
        transform: translateY(-9px);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-device-width: 1367px) {
    .introContent {
        padding: 30px 0;
    }
    .introImages {
            width: 394px;
            height: 543px;
            position: relative;
    }
    .introImage {
        width: 394px;
        height: 553px;
    }
    .telImage {
        width: 43px;
        height: 80px;
        left: 130px;
    }
    .noteImage {
        width:65px ;
        height: 80px;
        bottom: 120px;
    }
    .pcImage {
       width:80px;
       height: 82px;
    } 
}