.content {
    width: 1180px;
   
}
.screenContent {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

@media (max-device-width: 550px) {
    .content {
        width: 100%;
        padding: 16px;
    }
 }