.content {
    width: 1180px;
    
   
}
.screenContent {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100vw;
    display: flex;
}

@media (max-device-width: 550px) {
    .content {
        width: 100%;
        padding: 16px;
        padding-bottom: 0;
    }
 }