.portfolioContent{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.portfolioCarts {
    
    justify-content: center;
    display: flex;
}
.portfolioTitle {
    color: #2C2C2C;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: Noah-700;
}
@media (max-device-width: 550px) {
    .portfolioScreen {
        width: 100vw;
        margin-left: -16px;
    }
    .portfolioCarts {
        width: 100%;
        justify-content: left;
        padding-left: 16px;
     overflow-y: scroll;
    }
}

