header {
    
    padding: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header {
    z-index: 4;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 300px;
    background-color: #EEF1FC;
    position: fixed;
    top: 0;
    right: 0;
}

.burgerHeader a {

    text-decoration: none;
}

.logo {
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.partLogo {
    margin-right: 20px;
}

.headerNav {
    display: flex;

}


.headerNavLink {
    
    margin-top: 0;
    margin-bottom: 15px;
    
    font-size: 18px;
    color: #2C2C2C;
    text-decoration: none;
    position: relative;
    transition: all .2s ease-in-out;
}

.headerNavLink:hover {
    transform: translateX(30px);
    color: #282FD2;
}

.headerNavLink::before {
    align-items: center;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    
    top: 10px;
    left: -15px;
    width: 5px;
    height: 5px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .4s ease-in;
}

.headerNavLink:hover::before {
    transform: scale(1);
}

.headerNavLink::after {
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: -30px;
    width: 10px;
    height: 10px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .2s ease-in;
}

.headerNavLink:hover::after {
    transform: scale(1);
}

.contactBtn {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    width: 198px;
    height: 60px;
    background-color: #282FD2;
    border: 1px solid #282FD2;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}

.contactBtn:hover {
    color: #282FD2;
    background-color: #EEF1FC;
}