header {
    padding: 40px 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.burgerHeader {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 300px;
    background-color: #EEF1FC;
    position: fixed;
    top: 0;
    right: 0;
}

;


.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.partLogo {
    margin-right: 20px;
}

.headerNav {
    display: flex;

}


.headerNavLink {
    margin-right: 30px;
    font-size: 18px;
    color: #2C2C2C;
    text-decoration: none;
    position: relative;
    transition: all .2s ease-in-out;
}

.headerNavLink:hover {
    color: #282FD2;
}

.headerNavLink::before {
    align-items: center;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    margin-left: 10px;
    bottom: -15px;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .4s ease-in;
}

.headerNavLink:hover::before {
    transform: scale(1);
}

.headerNavLink::after {
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -17px;
    left: 40%;
    width: 10px;
    height: 10px;
    background-color: #282FD2;
    transform: scale(0);
    transition: transform .2s ease-in;
}

.headerNavLink:hover::after {
    transform: scale(1);
}

.contactBtn {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    width: 198px;
    height: 60px;
    background-color: #282FD2;
    border: 1px solid #282FD2;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}

.contactBtn:hover {
    color: #282FD2;
    background-color: #EEF1FC;
}