.headerTab{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerTab p {
    margin: 0;
}

.fullscreen{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.fullscreen img {
    
margin-right: 10px;
}
.dashboardTitle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.dashboardTitle p {
    margin-top: 0;
    display: block;
    width: 248px;
}
.dashboardTitle img {
    height: fit-content;
}

.lightboxWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lightboxWrapper h3 {
    font-size: 18px;
    color: #fff;
}

