.benefitsLogo {
    
    
    margin-right: 29px;
    width: 373px;
    height: 490px;
    
}
.benefitsContent {
    
    text-align: center;
    display: flex;
    flex-direction: column;

}
.benefitsContent h3 {
    color: #181A43;
    font-size: 30px;
    font-family: Noah-700;
    margin-top: 0px;
    margin-bottom:60px ;
}
.benefitsScreen {
    display: flex;
    justify-content: center;
}
.benefitsTitle {
    width: 722px;
    
    display: flex;
    flex-direction:column;
    
}
.benefitsTitle h3 {
    color: #181A43;
    font-size: 30px;
    font-family: Noah-700;
    margin-top: 0px;
    margin-bottom:60px ;
}
.benefitsCartsFirst {
    display: flex;
    margin-bottom: 20px ;
    
}
.benefitsCartsSecond {
    
    display: flex;
}
.benefitsCart {
    
    border: 1px solid white;
    margin-right: 20px;
    padding: 32px;
    background-color: #f5f7fd;
    border-radius: 10px;
    text-align: left;
    width: 350px;
    transition: all .3s ease-in;
}

.benefitsCart:hover {
    border-color: #282FD2;
    background-color: #282FD2;
    color: white;
}
.benefitsCart img {
    margin-bottom: 10px;  
} 
.benefitsCart h5 {
    
    margin-top: 0;
    margin-bottom: 10px;
    
}        
.benefitsTitle p {
    
    margin: 0;
    font-size: 18px;
}
.benefitsTitle h5 {
    
    font-size: 18px;
    font-family: Noah-700;
}


@media (max-device-width: 1367px) {
    .benefitsContent h3 {
        display: none;
    }
}
@media (max-device-width: 550px) {
    .benefitsLogo {
        display: none;
    }
    .benefitsTitle {
        
        padding-right: 16px;
        overflow-x: scroll;
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
    .benefitsTitle h5 {
        font-size: 16px  ;
    }
    .benefitsTitle p {
        font-size: 16px;
    }
    .benefitsCart {
        margin-right: 8px;
        padding: 24px;
        width: 328px;
        height: 224px;
    }
    .benefitsScreenMobile {

        width: 100vw;
        overflow: hidden;
        
    }
    .benefitsScreen {
       flex-direction: column;
    }
    
}