@font-face {
  font-family: Noah-400;
  src: url(../public/fonts/NoahGrotesque-Regular.ttf);
}

@font-face {
  font-family: Noah-700;
  src: url(../public/fonts/NoahGrotesque-Bold.ttf);
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  
  background-color: rgb(214, 214, 214);
}

::-webkit-scrollbar-thumb {
  
  background-color:#98c200 ;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  background-color: #EEF1FC;
  font-size: 30px;
  font-family: Noah-400;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}