@font-face {
  font-family: Noah-400;
  src: url(../public/fonts/NoahGrotesque-Regular.ttf);
}

@font-face {
  font-family: Noah-700;
  src: url(../public/fonts/NoahGrotesque-Bold.ttf);
}

* {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  background-color: #EEF1FC;
  font-size: 30px;
  font-family: Noah-400;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}